@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime;   

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div id="success-alert" class="d-none alert alert-primary alert-dismissible fade show" role="alert">
            <span id="success-message" aria-hidden="true"></span>
        </div>
        <div id="error-alert" class="d-none alert alert-danger alert-dismissible fade show" role="alert">
            <span id="error-message" aria-hidden="true"></span>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>